@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 text-decoration: none;
}
body 
{
	display: flex;
	justify-content: center;
	align-items: center ;
	min-height: 100vh;
	background: ;
	flex-direction: column;
	gap: 40px;
	
}

button{
				border: none;
				padding: 10px 20px;
				width: 100px;
				transition: 0.5s;
				position: relative;
				background: #444;
				border-radius: 25px.;
				text-transform: uppercase;
				
				
}
button:hover{
				letter-spacing: 3px;
				width: 200px;
				background: var(--cv);
				box-shadow: 0 0 35px var(--cv);
				color: var(--cv);
}
button:before{
				content: "";
				position: absolute;
				inset: 2px;
				background-color: #27282C;
			border-radius: 25px.;
				
}

span{
position: relative;
				z-index: 1;
				color: white;
				
				
				
}

button:hover span{
				color: var(--cv);
}

button i{
				position: absolute;
				inset:0;
				display: block;
}
	i::before{
 content: "";
				position: absolute;
				left: 80%;
				top: -3.5px;
				border: solid 2px var(--cv);
				width: 10px;
				height: 5px;
				background: #444;
				transition: .5s;
}

button:hover i:before{
				width: 20px;
				left: 5%;
}


i::after{
 content: "";
				position: absolute;
				right: 80%;
				bottom: -10%;
				border: solid 2px var(--cv) ;
				width: 10px;
				height: 5px;
				background: #444;
				transition: .5s;
}

button:hover i:after{
				width: 20px;
				right: 5%;
}

